
<% @tasks.each do |task| %>
  <article>
    <h2> <%= link_to( task.title, show_path(task.id)) %> </h2>
    <h3> Description: <%= task.description %> </h3>
    <h3> Completed? <%= task.completion_status %> </h3>
    <h3> Completed at: <%= task.completed_at %> </h3>
  </article>
<% end %>
