<!-- <div class="form">
  <%#create_path%>

</div> -->

<%= render partial: "form", locals: {action_name: "create"} %>
<%# You can throw action_name into the url space in _form.html.erb but make sure to change action_name to "create" - @path isn't needed in controller in this case %>
