
header {
  background-color: #5700B5;
  height: 18vw;
  margin-bottom: 1vw;
}

h1 {
color: white;
padding-top: 3.5vw;
padding-left: 4vw;
font-size: 4rem;
text-align: left;
}

nav {
  margin: 1.75vw 0 1vw 7vw;
}

nav li a {
  background-color: #5700B5;
  color: white;
  font-size: 2.5rem;
  float: left;
  padding: 1.5vw 2.5vw 0 2.5vw;
}

article {
  text-align: left;
  padding: 4vw 0 2vw 5vw;
}

article h2 a {
  font-size: 2.25rem;
}

article a, h3 {
  /*line-height: 1;*/
  font-size: 1.75rem;
  padding: 2vw 0 1vw 0;
}

form_for {
}
