
header {
  background-color: #5700B5;
  height: 18vw;
  margin-bottom: 1vw;
}

h1 {
color: white;
padding-top: 3.5vw;
padding-left: 4vw;
font-size: 4rem;
text-align: left;
}

h4 {
  color: black;
  padding-top: 3.5vw;
  font-size: 2.5rem;
}

nav {
  margin: 1.75vw 0 1vw 7vw;
}

nav li a {
  background-color: #5700B5;
  color: white;
  font-size: 2.5rem;
  float: left;
  padding: 1.5vw 2.5vw 0 2.5vw;
}

article {
  text-align: left;
  padding: 4vw 0 2vw 5vw;
}

article h2 a {
  font-size: 2.25rem;
}

article a, h3 {
  font-size: 1.75rem;
  padding: 2vw 0 1vw 0;
}

#form .field {
  display: block;
  padding: 1vw;
  margin: 4vw;
}

#form .field input {
  padding: 1vw;
  font-size: 16pt;
  box-sizing: border-box;
  width: 40vw;
  height: 5vw;
  border: 3px #5700B5 solid;
}

#form .field label {
  font-size: 18pt;
  font-weight: bold;
  padding: 2vw;
}

#form .button {
  display: inline-block;
  padding: 1vw;
  margin: 1vw;
}

#form .button input {
  font-size: 16pt;
  height: 7vw;
  width: 15vw;
}














/***/
