
header {
  background-color: #5700B5;
  height: 14vw;
  margin-bottom: 1vw;
}

h1 {
color: white;
padding-top: 2.5vw;
padding-left: 4vw;
font-size: 4rem;
text-align: left;
width: 50%;
display: block;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  color: black;
  padding-top: 3.5vw;
  font-size: 2.5rem;
}

nav {
  margin: .5vw 0 1vw 7vw;
}

nav li a {
  background-color: #5700B5;
  color: white;
  font-size: 2rem;
  float: left;
  padding: 1.5vw 2.5vw 0 2.5vw;
  text-decoration: none;
}

article {
  text-align: left;
  padding: 4vw 0 2vw 5vw;
}

article h2 a {
  font-size: 2rem;
}

article a, h3 {
  font-size: 1.5rem;
  padding: 2vw 0 1vw 0;
}

.form .field {
  display: block;
  padding: 1vw;
  margin: 4vw;
}

.form .field input {
  padding: 1vw;
  font-size: 16pt;
  box-sizing: border-box;
  width: 60vw;
  height: 5vw;
  border: 3px #5700B5 solid;
}

.form .field label {
  font-size: 18pt;
  font-weight: bold;
  padding: 2vw;
}

form.button_to {
  width: 20%;
  display: inline-block;
  margin-top: 3vw;
  margin-bottom: 2vw;
  padding-right: 1vw;
}

.btn {
  font-size: 20pt;
  height: 10vh;
  width: 90%;
  background-color: #5700B5;
  color: white;
  border: none;
}

img {
  border-radius: 50%;
  width: auto;
  height: auto;
  max-width: 10%;
  max-height: 10%;
  display: inline-block;
  float: right;
  margin: 0 5% 5% 0
}


/***/
