// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-size: 18px;
  font-family: garamond;
}

header {
  background-color: #5700B5;
  width: 100vw;
  height: 18vw;
}

h1 {
color: white;
padding-top: 3.5vw;
padding-left: 4vw;
font-size: 4rem;
width: 100%;
text-align: left;
}

nav{
  margin: 1.5vw 0 3vw 13vw;

}

nav a {
  background-color: #5700B5;
  color: white;
  font-size: 2.5rem;
  float: left;
  padding: 1.5vw 2.5vw 2.5vw 2.5vw;
}

article {
  width: 100%;
  font-size: 2rem;
  padding: 3vw 0 2.5vw 5vw;
  text-align: left;
}
